<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijob">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]!</h2>
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
      <li>Elemento 4</li>
      <li>Elemento 5</li>
      <li>Elemento 6</li>
      <li>Elemento 7</li>
      <li>Elemento 8</li>
      <li>Elemento 9</li>
      <li>Elemento 10</li>
    </ul>
  </template>

  <script>
    /**
     * `componente-hijob`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijob extends Polymer.Element {
      static get is() { return 'componente-hijob'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Lista de elemento'
          }
        };
      }
    }

    window.customElements.define(ComponenteHijob.is, ComponenteHijob);
  </script>
</dom-module>
